.App {
    height: '100vh';
    width: '100vw';
    overflow-x: hidden;
    overflow-y: scroll;
    
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  ::-webkit-scrollbar-thumb {
    background: none;
  }
  